<html>
    <head>
        <title>The Gossip Project</title>
    </head>

    <body>
    <h1>Mon super site de gossip, depuis le dossier vews!<h1>
    <p>De nouveaux potins bientôt. <br> vous pouvez créer de nouveaux potin <a href="/gossip/new/">ici</a>
    </body>
</html>