<html>
    <head>
        <title>The Gossip Project</title>
    </head>

    <body>
    <h1>Mon super site de gossip, depuis le dossier vews!<h1>
    <% gossips.each_with_index do |gossip,index| %>
        <p>
        <a href="/gossips/<%= index%>">
        <%= gossip.author %><br/>
        <%= gossip.content %><br/>
        </p>
        <% end %>
    <p>Vous manquez de potin? <br> vous pouvez créer de nouveaux potin <a href="/gossip/new/">ici</a>
    </body>
</html>

